<div class="admin-login-container">
  <div class="admin-login-form">
    <h1>Changer votre mot de passe</h1>
    
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "admin_users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password do %>
          Nouveau mot de passe <small>(<%= @minimum_password_length || 6 %> caractères minimum)</small>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
      </div>

      <div class="form-actions">
        <%= link_to "Page connexion", new_session_path(resource_name), class: "btn btn-secondary" %>
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
